{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hanisa Course</title>
    <link rel="stylesheet" href="{% static "node_modules/bulma/css/bulma.min.css" %}">
</head>
<body>
    <section class="section">
        <form method="post">
            {% csrf_token %}
            <div class="field">
                <label for="{{ form.username.name }}" class="label">{{ form.username.label }}</label>
                <div class="control">
                    <input type="text" class="input" name="{{ form.username.name }}" id="{{ form.username.name }}" placeholder="Username">
                </div>
            </div>
            <div class="field">
                <label for="{{ form.password.name }}" class="label">{{ form.password.label }}</label>
                <div class="control">
                    <input type="password" class="input" name="{{ form.password.name }}" id="{{ form.password.name }}" placeholder="Password">
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <button type="submit" class="button is-success">
                        Login
                    </button>
                </div>
            </div>
        </form>
    </section>
</body>
</html>
