{% extends 'course_management/school_base.html' %}

{% block heading %}Schools{% endblock %}

{% block article %}
    <table class="table is-fullwidth is-hoverable">
        <thead>
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for school in schools %}
                <tr>
                    <td><a href="{% url 'course_management:school_update' school.pk %}">{{ school.name }}</a></td>
                    <td>{{ school.address }}</td>
                    <td>
                        <a href="{% url 'course_management:school_delete' school.pk %}">
                            <span class="icon has-text-danger">
                                <i class="fas fa-trash-alt"></i>
                            </span>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
