{% extends 'course_management/school_base.html' %}

{% block heading %}School{% endblock %}

{% block article %}
    <table class="table is-fullwidth is-hoverable">
        <thead>
            <tr>
                <th>Name</th>
                <th>Student</th>
            </tr>
        </thead>
        <tbody>
            {% for school in schools %}
                <tr>
                    <td>{{ school.name }}</td>
                    <td>{{ school.student }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
