{% extends 'course_management/student_base.html' %}

{% block heading %}Students{% endblock %}

{% block article %}
    <table class="table is-fullwidth is-hoverable">
        <thead>
            <tr>
                <th>Name</th>
                <th>Grade</th>
                <th>School</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
                <tr>
                    <td><a href="{% url 'course_management:student_update' student.pk %}">{{ student.name }}</a></td>
                    <td>{{ student.grade }}</td>
                    <td>{{ student.school }}</td>
                    <td>
                        <a href="{% url 'course_management:student_delete' student.pk %}">
                            <span class="icon has-text-danger">
                                <i class="fas fa-trash-alt"></i>
                            </span>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
