{% extends 'bulma_base.html' %}

{% block menu %}
    <aside class="menu">
        <p class="menu-label">
            Subject Management
        </p>
        <ul class="menu-list">
            <li><a href="{% url 'course_management:subject_list' %}">Subjects</a></li>
        </ul>
    </aside>
{% endblock %}

{% block content %}
    <div class="message is-primary">
        <div class="message-header">
            <p>{% block heading %}{% endblock %}</p>
        </div>
        <div class="message-body">
            {% block article %}
            {% endblock %}
        </div>
    </div>
{% endblock %}
