{% extends 'course_management/subject_base.html' %}

{% block heading %}Subjects{% endblock %}

{% block article %}
    <table class="table is-fullwidth is-hoverable">
        <thead>
            <tr>
                <th>Name</th>
                <th>Code</th>
            </tr>
        </thead>
        <tbody>
            {% for subject in subjects %}
                <tr>
                    <td><a href="{% url 'course_management:subject_update' subject.pk %}">{{ subject.name }}</a></td>
                    <td>{{ subject.code }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
