<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Hanisa Course
            </h1>
            <h2 class="subtitle">
                Hanisa Course Payment & Schedule Management System
            </h2>
        </div>
    </div>
    <div class="hero-foot">
        <nav class="tabs is-boxed">
            <div class="container">
                <ul>
                    <li class="is-active"><a href="#">Users</a></li>
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'logout' %}">Logout</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </div>
</section>
