{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hanisa Course</title>
    <link rel="stylesheet" href="{% static "node_modules/bulma/css/bulma.min.css" %}">
    <script defer src="{% static 'node_modules/@fortawesome/fontawesome-free/js/all.min.js' %}"></script>
</head>
<body>
{% include 'bulma_header.html' %}
<section class="section">
    <div class="columns">
        <div class="column is-one-fifth">
            <div class="container">
                {% block menu %}{% endblock %}
            </div>
        </div>
        <div class="column">
            <div class="container">
                {% block content %}
                    <h1 class="title">
                        Hello World
                    </h1>
                    <p class="subtitle">
                        {% if user.is_authenticated %}
                            Welcome, {{ user.username }}!<br>
                            <a href="{% url 'logout' %}">Logout</a>
                        {% else %}
                            My first website with <strong>Bulma</strong>!
                        {% endif %}
                    </p>
                {% endblock %}
            </div>
        </div>
    </div>
</section>
</body>
</html>
