{% extends 'users/user_base.html' %}

{% block heading %}Users{% endblock %}

{% block article %}
    <table class="table is-fullwidth is-hoverable">
        <thead>
            <tr>
                <th>Name</th>
                <th>Role</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Username</th>
                <th>Gender</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td><a href="{% url 'users:update' user.pk %}">{{ user.full_name }}</a></td>
                    <td>{{ user.role }}</td>
                    <td>{{ user.phone }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.gender }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
